<config><stCd>2</stCd><stCr>50</stCr><stRe>20</stRe><stNq>1</stNq><app_id>b6295dd1-f437-4583-9a6d-f3a81b45cb00</app_id><licence_key>98e961f4-a870-458f-a861-3c0c8420e919</licence_key><licence_status><active>True</active></licence_status><conta><email>merotec32@gmail.com</email><tel>21973822425</tel><empresa>MerotecDev</empresa></conta><historico><cumprimento>0</cumprimento><diametro>0</diametro><aria_total>0</aria_total><saida>0</saida></historico></config>