<config><stCd>1.5</stCd><stCr>35</stCr><stRe>20</stRe><stNq>1.5</stNq><app_id>9d77aeb9-d7fd-43d2-91ac-d6719cecf5f5</app_id><licence_key>8f630891-c74c-4048-8d1a-5dcd505aeb5e</licence_key><licence_status><active>True</active></licence_status><conta><email>merotec32@gmail.com</email><tel>21973822425</tel><empresa>MTD Softwares</empresa></conta><historico><cumprimento>0</cumprimento><diametro>0</diametro><aria_total>&#193;rea total: 2,48 dm&#178;</aria_total><saida>Processo: (C&#225;dmio) 
Amperagem: [3,72]
Itens: 1
Pe&#231;as: 1
Base de c&#225;lculo: (1,50) amp por dm&#178;</saida></historico></config>