<config><stCd>1.5</stCd><stCr>35</stCr><stRe>20</stRe><stNq>1</stNq><app_id>9d77aeb9-d7fd-43d2-91ac-d6719cecf5f5</app_id><licence_key>8f630891-c74c-4048-8d1a-5dcd505aeb5e</licence_key><licence_status><active>True</active></licence_status><conta><email>merotec32@gmail.com</email><tel>21973822425</tel><empresa>MTD Softwares</empresa></conta><historico><cumprimento>0</cumprimento><diametro>0</diametro><aria_total>0</aria_total><saida>0</saida></historico></config>